<div id="blog" class="frame">
{% include 'page-header-illustration' %}



    <div class="wrapper">

        <div id="content">

            <div class="main bit-66">
            {% paginate blog.articles by 5 %}

                <ul class="articles">
                {% for article in blog.articles %}
                    <li class="story article{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                        <h1 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h1>
                        <p class="date"><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time></p>
                        <div class="rte">
                        {% if article.excerpt.size > 0 %}
                            <p class="article">{{ article.content | strip_html | truncatewords: 100 }}</p>
                            {% comment %}{{ article.excerpt }}{% endcomment %}
                        {% else %}
                            <p class="article">{{ article.content | strip_html | truncatewords: 100 }}</p>
                        {% endif %}
                        </div>
                        <a class="more-btn" href="{{ article.url }}">Read more <i class="fa fa-chevron-right"></i></a>
                        <ul class="meta">
                        {% if article.tags.size > 0 %}
                            <li class="tags">
                            {% for tag in article.tags %}
                                {% unless tag contains 'icon' %} 
                                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                                {% endunless %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
                {% if paginate.pages > 1 %}
                <div class="pagination">{{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}</div>
                {% endif %}
                
                {% endpaginate %} 
            </div><!--.main-->
  
            <div class="sidebar bit-3">
            {% include 'insta' %}
            </div><!--.sidebar-->

        </div><!--#content-->
  
</div><!--WRAPPER-->
</div><!--BLOG-->