<div class="frame" id="cart">
    <div class="wrapper">
          
        {% if cart.item_count > 0 %}

        <h2>You're almost to Happy Listening</h2>

        <form action="/cart" method="post">
          
            <table>
            
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
            
                <tbody>

                {% for item in cart.items %} 
                    {% assign sku = item.sku %}  
                
                
                  
                    {% if forloop.first %}
                        {% assign collection_url = item.product.collections.first.url %}
                        {% if collection_url == '/collections/frontpage' or collection_url == '' %}{% assign collection_url = '/collections/all' %}{% endif %}
                    {% endif %}

                    <tr>
                        <td>
                            <a href="{{ item.product.url | within: collections.all }}">
                                <p>{{ item.title }}</p>
                                {% for image in item.product.images %}
                                    {% if image.alt contains sku %}
                                        {% unless image.alt contains 'store' %}
                                            <img src="{{ image | product_img_url: 'medium' }}">
                                        {% endunless %}
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </td>
                        <td>{{ item.price | money }}</td>
                        <td>
                          <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
                        </td>
                        <td>
                            {{ item.line_price | money }}
                        </td>
                        {% comment %}<td>
                          <a href="/cart/change?line={{ forloop.index }}&quantity=0"><i class="fa fa-times"></i></a>
                        </td>{% endcomment %}
                    </tr>
                {% endfor %}
            
                </tbody>
            
            </table>
          
          {% comment %}
          For the checkout and update buttons to work, they need to use
          a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
          {% endcomment %}
          
            <div class="options">
                <p>Subtotal</p><span class="subtotal">{{ cart.total_price | money }}</span>
                <input class="cart-btn" type="submit" name="checkout" value="Pay Now" /> 

                <a href="../../products">Continue shopping</a>
                <input type="submit" name="update" value="Update cart" />   
                
                {% if additional_checkout_buttons %}
                <p class="additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </p>
                {% endif %}
                <div class="note">
                    <p>Add a note</p>
                    <textarea name="note">{{ cart.note }}</textarea>
                </div>   
            </div>
        </form>

        {% else %}

        <div class="empty-cart">
            <h2>It appears that your cart is currently empty!<br>You can continue browsing <a href="../products">here</a>.</h2>
        </div>

        {% endif %}
    </div><!--.wrapper-->
</div><!--#cart-->