{% include 'page-header-illustration' %}

<div class="frame" id="press-page">  
    
    <div class="wrapper">

    	<div id="content">

    		<div class="main bit-66">
    			<div id="in-the-news">
    				<h3>In The News</h3>
    				<ul class="frame">
    					{% for article in blogs.news.articles %}
    						{% for tag in article.tags %}
	    						{% if tag contains 'press' && 'review' %}
			    					<li class="bit-2 story">
			    						<h2>{{ article.title }}</h2>
			    						<p class="date"><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time></p>
			    						<p class="article">{{ article.content | strip_html | truncatewords: 30 }}</p>
			    						{% for tag in article.tags %}
				    						{% if tag contains 'icon' %}
				    						{% capture pressLogo %}{{ tag }}.png{% endcapture %}
				    							{% if article.excerpt contains 'http' %}
				    								<a href="{{article.excerpt}}" target="_blank"><img class="logo" src="http://cdn.soundfreaq.com/pressicons/{{ pressLogo }}"></a>
				    							{% else %}
				    								<img class="logo" src="http://cdn.soundfreaq.com/pressicons/{{ pressLogo }}">
				    							{% endif %}
				    						{% endif %}
			    						{% endfor %}
			    					</li>
			    				{% endif %}	
			    			{% endfor %}	
    					{% endfor %}
    				</ul>
    			</div><!--in-the-news-->
    		</div>

    		<div class="sidebar bit-3">
    			<h3>Press Releases</h3>
    			<ul id="press-releases" class="frame">
    				{{ page.content }}	
    			</ul>
    		</div>

    	</div><!--CONTENT-->

    	<div id="media-resources" class="bit-1">
    		<h3>Media Resources</h3>
    		<div class="box">
    			{% for product in collections.frontpage.products %}
        		{% assign productModel = {{product.handle | append: '-model' }} %}
        		{% assign productURL = {{product.title | handleize }} %}
        		{% comment %}{% assign productModel = {{product.title | handleize | append: '-home-headline' }} %}{% endcomment %}
	        		<div class="bit-3">
	        			<div class="info">
	        				<h2>{{ product.title }}</h2>
	        				<h4 class="model">{{settings[productModel]}}</h4>
	        				{% for image in product.images %}
	        				    {% if image.alt contains 'grid' %}
	        				        <img src="{{ image | product_img_url: 'large' }}">
	        				    {% endif %}
	        				{% endfor %}
	        				<ul>
                                <li><a href="http://cdn.soundfreaq.com/productsheets/{{productURL}}-product-sheet.pdf">Product Sheet</a></li>
	        					<li><a href="#">Images</a></li>
                                <li><a href="#">Design Note</a></li>
	        				</ul>
	        			</div>
	        		</div>
        		{% endfor %}
    		</div>
    	</div><!--media-resources-->

    	<div id="asi" class="bit-1">
    		<h2>As Seen In</h2>
    		{% for i in (1..6) %}
    		    {% capture asiIcon %}asi-{{i}}.png{% endcapture %}
    		    {% capture show %}asi-{{i}}{% endcapture %}
    		    {% if settings[show] %}
    		    	<div class="bit-6"><img src="{{ asiIcon | asset_url }}"></div>
    		    {% endif %}
    		{% endfor %}    
    	</div><!--asi-->
    	
    </div><!--WRAPPER-->

</div><!--PRESS PAGE-->