<div class="frame" id="product-page">  
    
    <span class="product-name"><h2>{{ product.title }}</h2></span>

    <div class="wrapper">

        <div style="background-image: url('{{ image | product_img_url: 'original' }}')"></div>

        <div class="product-info frame wrapper">

            <div class="bit-60 product-headline">
                {% if product.description contains "<h1>" %}
                    {% assign h1 = product.description | split: '>' %}
                    <h1>{{ h1[1] }}</h1>
                {% endif %}
            </div>

            <div class="bit-40"><p class="price intl">{{ product.price | money }}</p></div>

            <div class="bit-60 product-description">
                {% if product.description contains "<p>" %}
                    {% assign p = product.description | split: '<p>' %}
                    <p>{{ p[1] }}</p>
                {% endif %}
            </div>

            <div class="bit-5">
                <ul class="product-downloads">
                    <li><a href="http://soundfreaq.desk.com/" target="_blank"><i class="fa fa-comments-o"></i> Support</a></li>
                </ul>
            </div>

            <div class="bit-5 buttons">{% include 'button-group' %}</div>

        </div><!--.product-info-->

    </div><!--WRAPPER-->

</div><!--PRODUCT PAGE-->