<!DOCTYPE HTML>
<html>
    <head>
        <title>Starter</title>
        {{ 'style.css' | asset_url | stylesheet_tag }}
        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
        {{ content_for_header }}
    </head>
    <body>



    <div id="container" class="frame">
        {% if settings.banner-switch %}
        <div id="custom-message">
            <div class="wrapper"><p>{{ settings.banner }}</p></div>
        </div>
        {% endif %}

        <div id="header" class="frame">

            <div id="grip"><!--need this to make fixed header work-->

                <div id="header-holder"><!--This is purely for styling-->
                    <div class="wrapper">
                        <div class="bit-3 logo"><a href="{{ shop.url }}"></a></div>
                        <div class="bit-3 nav">
                            <a href="cart"><i class="fa fa-shopping-cart"></i></a>
                            <a href="#" class="searchbtn" data-name="search"><i class="fa fa-search"></i></a>
                            <a href="#" class="menubtn" data-name="menu"><i class="fa fa-bars"></i></a>
                        </div><!--NAV-->
                    </div><!--WRAPPER-->
                </div><!--HEADER-HOLDER-->

                <div id="menu" class="bit-1">
                    <div class="wrapper frame">
                       
                       <div class="products bit-6">
                            <ul>
                            <h2>Products</h2>
                            {% for product in collections.speakers.products %}
                                <li><a href="{{ product.url }}">{{ product.title }}</a></li>
                            {% endfor %}
                            </ul>
                       </div>

                       <div class="wire bit-6">
                            <ul>
                            <h2>{{ linklists.wire.title }}</h2>
                            {% for link in linklists.wire.links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                       </div>

                       <div class="wire bit-6">
                            <ul>
                            <h2>{{ linklists.support.title }}</h2>
                            {% for link in linklists.support.links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                       </div>

                       <div class="social bit-6">
                            <ul>
                                <h2>Social</h2>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                                <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                            </ul>
                       </div>

                       <div class="hl bit-6"><img src="http://cdn.soundfreaq.com/brand/happy_listening_white.png"></div>
                       <div class="bit-6"></div>

                    </div><!--WRAPPER-->
                </div><!--MENU-->

                <div id="search" class="bit-1">
                    <div class="wrapper">
                        <form action="/search" method="get" class="search-form" role="search">
                            <input type="text" id="searchfield" name="q" value="{{ search.terms | escape }}" placeholder="Find what you're looking for here">
                            <input type="submit" value="search">
                        </form> 
                    </div><!--WRAPPER-->
                </div><!--MENU-->

            </div><!--GRIP-->

        </div><!--HEADER-->

        {{ content_for_layout }}
        {% include 'footer' %}
    </div>

    {{ 'script.js' | asset_url | script_tag }}
    {{ 'script-no-grunt.js' | asset_url | script_tag }}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6966432/744402/css/fonts.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </body>
</html>