<!DOCTYPE HTML>
<html>
    <head>
         <title>{% if template contains 'product' %}Soundfreaq - {{ product.title }} {%else%} Soundfreaq {%endif%}</title>
        {{ 'style.css' | asset_url | stylesheet_tag }}
        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
        {{ content_for_header }}
    </head>
    <body>



    <div id="container" class="frame">
        {% if template contains 'collection' %}
            <div id="custom-message" style="background: {{settings.store-banner-bg}};">
                {% if settings.store-banner-switch %}
                    {% if settings.store-banner-link-switch %}
                        <a class="banner-link" href="{{settings.store-banner-link}}" target="_blank"></a>
                    {% endif %}
                    <div class="wrapper"><p>{{ settings.store-banner }}</p></div>
                {% endif %}
            </div>
        {% else %}
            <div id="custom-message" style="background: {{settings.banner-bg}};">
                {% if settings.banner-switch %}
                    {% if settings.banner-link-switch %}
                        <a class="banner-link" href="{{settings.banner-link}}" target="_blank"></a>
                    {% endif %}
                    <div class="wrapper"><p>{{ settings.banner }}</p></div>
                {% endif %}
            </div>
        {% endif %}

        <div id="header" class="frame">

            <div id="grip"><!--need this to make fixed header work-->

                <div id="header-holder"><!--This is purely for styling-->
                    <div class="wrapper">
                        <div class="bit-3 logo"><a href="{{ shop.url }}"></a></div>
                        <div class="bit-3 nav">
                            <a class="cart" href="../cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="cart-count {% if cart.item_count == 0 %}hide{% endif %}">{{cart.item_count}}</span>   
                            </a>
                            <a href="#" class="searchbtn" data-name="search"><i class="fa fa-search"></i></a>
                            <a href="#" class="menubtn" data-name="menu"><i class="fa fa-bars"></i></a>
                        </div><!--NAV-->
                    </div><!--WRAPPER-->
                </div><!--HEADER-HOLDER-->

                <div id="menu" class="bit-1 menu">
                    <div class="wrapper frame">

                        <div class="products bit-1">
                            <div class="bit-2">&nbsp;</div>
                            <div class="bit-3 social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                       
                       <div class="products bit-6">
                            <ul>
                            <h2>Products</h2>
                            {% for product in collections.speakers.products %}
                                {% for tag in product.tags %}
                                    {% if tag contains 'available' %}
                                        <li><a href="{{ product.url }}">{{ product.title }}</a></li>
                                    {% endif %}
                                {% endfor %}        
                            {% endfor %}
                            </ul>
                       </div>

                       <div class="wire bit-6">
                            <ul>
                            <h2>{{ linklists.wire.title }}</h2>
                            {% for link in linklists.wire.links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                       </div>

                       <div class="wire bit-6">
                            <ul>
                            <h2>{{ linklists.support.title }}</h2>
                            {% for link in linklists.support.links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                       </div>

                       <div class="store bit-6 intl">
                            <ul>
                            <h2>{{ linklists.store-links.title }}</h2>
                            {% for link in linklists.store-links.links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                       </div>

                       <div class="hl bit-6 mobile-hide"><img src="http://cdn.soundfreaq.com/brand/happy_listening_white.png"></div>
                       <div class="bit-6"></div>

                    </div><!--WRAPPER-->
                </div><!--MENU-->

                <div id="search" class="bit-1">
                    <div class="wrapper">
                        <form action="/search" method="get" class="search-form" role="search">
                            <input type="text" id="searchfield" name="q" value="{{ search.terms | escape }}" placeholder="Find what you're looking for here">
                            <input type="submit" value="search">
                        </form> 
                    </div><!--WRAPPER-->
                </div><!--MENU-->

            </div><!--GRIP-->

        </div><!--HEADER-->

        {{ content_for_layout }}
        {% include 'footer' %}
    </div>

    {{ 'script.js' | asset_url | script_tag }}
    {{ 'script-no-grunt.js' | asset_url | script_tag }}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6966432/744402/css/fonts.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </body>
</html>