<!DOCTYPE HTML>
<html>
    <head>
        <title>Starter</title>
        {{ 'style.css' | asset_url | stylesheet_tag }}
        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
        {{ content_for_header }}
    </head>
    <body>



    <div id="container" class="frame">
        {% if settings.banner-switch %}
        <div id="custom-message">
            <div class="wrapper"><p>{{ settings.banner }}</p></div>
        </div>
        {% endif %}

        <div id="header" class="frame">
            <div class="wrapper">
            <a href="{{ shop.url }}"><img src="http://cdn.soundfreaq.com/brand/sfq-logo-dark.svg"></a>
            </div>
        </div><!--HEADER-->

        {{ content_for_layout }}
        {% include 'footer' %}
    </div>

    {{ 'script.js' | asset_url | script_tag }}
    {{ 'script-no-grunt.js' | asset_url | script_tag }}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6966432/744402/css/fonts.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </body>
</html>