<div class="frame" id="footer">    
    <div class="wrapper">

        <div class="bit-3 main-bucket">
            <div class="box" style="background: {% if settings.main-bucket-1-img %} url('{{ 'main-bucket-1-img.png' | asset_url }}') center no-repeat {% else %} {{settings.main-bucket-1-bg}} {% endif %}; color: {{settings.main-bucket-1-font-color}};">
                {% if settings.main-bucket-1-switch %}<a href="{{settings.main-bucket-1-link}}">{{ settings.main-bucket-1-text }}</a>{% endif %}
            </div>
        </div>

        <div class="bit-3 main-bucket">
            <div class="box" style="background-color: {{settings.main-bucket-2-bg}}">
                {% if settings.main-bucket-2-switch %}<a href="{{settings.main-bucket-2-link}}">{{ settings.main-bucket-2-text }}</a>{% endif %}
            </div>
        </div>

        <div class="bit-3 main-bucket test">
            <div class="box" style="background-color: {{settings.main-bucket-3-bg}}">
                {% if settings.main-bucket-3-switch %}<a href="{{settings.main-bucket-3-link}}">{{ settings.main-bucket-3-text }}</a>{% endif %}
            </div>
        </div>

        <div class="bit-4 sub-bucket">
            <div class="box">
                {% if settings.sub-bucket-1-switch %}<a>{{ settings.sub-bucket-1 }}</a>{% endif %}
            </div>
        </div>

         <div class="bit-4 sub-bucket">
            <div class="box">
                {% if settings.sub-bucket-2-switch %}<a>{{ settings.sub-bucket-2 }}</a>{% endif %}
            </div>
        </div>

         <div class="bit-4 sub-bucket">
            <div class="box">
                {% if settings.sub-bucket-3-switch %}<a>{{ settings.sub-bucket-3 }}</a>{% endif %}
            </div>
        </div>

         <div class="bit-4 sub-bucket">
            <div class="box">
                {% if settings.sub-bucket-4-switch %}<a>{{ settings.sub-bucket-4 }}</a>{% endif %}
            </div>
        </div>

        {% comment %}{% for product in collections.frontpage.products %}
        {% assign productName = {{product.title | handleize | append: '-home-headline' }} %}
            <div class="bit-3 product">
                <img src="http://cdn.soundfreaq.com/products/{{ product.title | downcase | replace: ' ', '' }}/{{ product.title | downcase | replace: ' ', '' }}-icon.svg" />
                <h2>{{ product.title }}</h2>
                <p>{{ settings[productName] }}</p>
            </div><!--PRODUCT-->
        {% endfor %}{% endcomment %}

    </div><!--WRAPPER-->
</div><!--footer-->