<div class="frame" id="footer">    
    
    <div id="buckets" class="frame">    
        <div id="main-buckets" class="wrapper">
            
            <!--FIRST MAIN BUCKET-->
            {% if template contains 'product' %}

                {% assign featReviewImg = {{product.handle | append: '-feat-review-img.png'}} %}
                {% assign featReviewLink = {{product.handle | append: '-feat-review-link'}} %}
                {% assign featReviewHover = {{product.handle | append: '-feat-review-hover'}} %}
                <div class="bit-3 main-bucket">
                    <div class="box" style="background: url('{{ featReviewImg | asset_url }}') center no-repeat">
                        <a href="{{ settings[featReviewLink] }}" target="_blank">{{ settings[featReviewHover] }}</a>
                    </div>
                </div>

            {% else %}
                <div class="bit-3 main-bucket">
                    <div class="box" style="background: url('{{ 'main-bucket-1-gen-img.png' | asset_url }}') center no-repeat">
                        <a href="{{settings.main-bucket-1-gen-link}}">{{ settings.main-bucket-1-hover }}</a>
                    </div>
                </div>
            {% endif %}
            <!--END FIRST MAIN BUCKET-->


            <div class="bit-3 main-bucket">
                <div class="box" style="background: url('{{ 'main-bucket-2-gen-img.png' | asset_url }}') center no-repeat">
                    <a href="{{settings.main-bucket-2-gen-link}}">{{ settings.main-bucket-2-hover }}</a>
                </div>
            </div>

            <div class="bit-3 main-bucket">
                <div class="box" style="background: url('{{ 'main-bucket-3-gen-img.png' | asset_url }}') center no-repeat">
                    <a href="{{settings.main-bucket-3-gen-link}}">{{ settings.main-bucket-3-hover }}</a>
                </div>
            </div>
        </div><!--#main-buckets.wrapper-->



        <div id="sub-buckets">
            <div class="wrapper">    
                <!--sub bucket 1-->
                <div class="bit-4 sub-bucket">
                    <div class="box">
                        <a href="{{settings.sub-bucket-1-link}}">{{ settings.sub-bucket-1 }}</a>
                    </div>
                </div>
                <!--end sub bucket 1-->

                <!--sub bucket 2-->
                <div class="bit-4 sub-bucket">
                    <div class="box">
                        <a class="intl" href="{{settings.sub-bucket-2-intl-link}}">{{ settings.sub-bucket-2 }}</a>
                        <a class="us" href="{{settings.sub-bucket-2-us-link}}">{{ settings.sub-bucket-2 }}</a>
                    </div>
                </div>
                <!--end sub bucket 2-->

                <!--sub bucket 3-->
                {% if template contains 'product' %}
                    
                    <div class="bit-4 sub-bucket intl">
                        <div class="box">
                            <a href="{{settings.sub-bucket-3-intl-link}}">{{ settings.sub-bucket-3-intl }}</a>
                        </div>
                    </div>

                    <div class="bit-4 sub-bucket us">
                        <div class="box">
                            <a href="#{{product.handle}}-quick-look" class="open-quick-look">Buy {{product.title}}<br><i class="fa fa-shopping-cart"></i></a>
                            {% include 'quick-look' %}
                            {% comment %}<a href="{{settings.sub-bucket-3-prod-link}}">{{ settings.sub-bucket-3-prod }}</a>{% endcomment %}
                        </div>
                    </div>

                {% else %}

                    <div class="bit-4 sub-bucket intl">
                        <div class="box">
                            <a href="{{settings.sub-bucket-3-intl-link}}">{{ settings.sub-bucket-3-intl }}</a>
                        </div>
                    </div>

                    <div class="bit-4 sub-bucket us">
                        <div class="box">
                            <a href="{{settings.sub-bucket-3-gen-link}}">{{ settings.sub-bucket-3-gen }}</a>
                        </div>
                    </div>

                {% endif %}
                <!--end sub bucket 3-->

                <!--sub bucket 4-->
                <div class="bit-4 sub-bucket">
                    <div class="box">
                        <a href="{{settings.sub-bucket-4-link}}">{{ settings.sub-bucket-4 }}</a>
                    </div>
                </div>
                <!--end sub bucket 4-->
            </div><!--WRAPPER-->
        </div><!--sub buckets-->
    </div><!--BUCKETS-->


    <div id="newsletter" class="frame">
        <div class="wrapper">
            <form>
                <div class="bit-2">
                    <label for="email_address">{{ settings.mailing-list-message }}</label>
                </div>
                <div class="bit-2">
                    <input type="text" placeholder="your email" name="EMAIL" id="mce-EMAIL">
                    <input type="submit" value="signup">
                    <input type="hidden" name="b_1a463054a5823c402f5c28c6c_fd0c707a7d" value="">
                </div>
            </form>
        </div>
    </div>

    
    <div id="footer-links" class="menu">
        <div class="wrapper frame">

            <div class="products bit-1">
                <div class="bit-2">&nbsp;</div>
                <div class="bit-3 social">
                    <a href="http://www.twitter.com/soundfreaq" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.pinterest.com/soundfreaq" target="_blank"><i class="fa fa-pinterest"></i></a>
                    <a href="http://www.instagram.com/soundfreaq" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="http://www.facebook.com/soundfreaq" target="_blank"><i class="fa fa-facebook-square"></i></a>
                </div>
            </div>
           
           <div class="products bit-7">
                <ul>
                <h2>Products</h2>
                {% for product in collections.speakers.products %}
                    {% for tag in product.tags %}
                        {% if tag contains 'available' %}
                            <li><a href="{{ product.url }}">{{ product.title }}</a></li>
                        {% endif %}
                    {% endfor %}        
                {% endfor %}
                </ul>
           </div>

           <div class="wire bit-7">
                <ul>
                <h2>{{ linklists.wire.title }}</h2>
                {% for link in linklists.wire.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
           </div>

           <div class="support bit-7">
                <ul>
                <h2>{{ linklists.support.title }}</h2>
                {% for link in linklists.support.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
           </div>

           <div class="store bit-7 intl">
                <ul>
                <h2>{{ linklists.store-links.title }}</h2>
                {% for link in linklists.store-links.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
           </div>

           <div class="for-press bit-7">
                <ul>
                <h2>{{ linklists.for-press.title }}</h2>
                {% for link in linklists.for-press.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
           </div>

           <div class="bit-6"></div>

        </div><!--WRAPPER-->
    </div><!--#footer-links-->

    
</div><!--footer-->