<div class="frame" id="products-grid">    
    <div class="wrapper">

        {% for product in collections.frontpage.products %}
        {% assign productHeadline = {{product.handle | append: '-home-headline' }} %}
            <div class="bit-3 product">

                <ul class="hidden-product-info top frame">
                    {% for tag in product.tags %}
                        {% if tag contains 'coming-soon' %}
                            <li class="bit-1"><p class="price buy-btn intl">Coming Soon</p></li>
                        {% else %}
                            <li class="bit-1"><a href="{{ product.url }}" class="buy-btn price intl">{{ product.price_max | money }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>

                {% for tag in product.tags %}
                    {% if tag contains 'coming-soon' %}
                        {% for image in product.images %}
                            {% if image.alt contains 'grid' %}
                                <img src="{{ image | product_img_url: 'large' }}">
                            {% endif %}
                        {% endfor %}
                        <h2>{{ product.title }}</h2>
                        <p class="headline">{{ settings[productHeadline] }}</p>
                    {% else %}
                        <a href="{{ product.url }}">
                            {% for image in product.images %}
                                {% if image.alt contains 'grid' %}
                                    <img src="{{ image | product_img_url: 'large' }}">
                                {% endif %}
                            {% endfor %}
                            <h2>{{ product.title }}</h2>
                            <p class="headline">{{ settings[productHeadline] }}</p>
                        </a>   
                        
                        <ul class="hidden-product-info bottom">
                            {% include 'button-group' %}
                            {% include 'quick-look' %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div><!--PRODUCT-->
        {% endfor %}

    </div><!--WRAPPER-->
</div><!--PRODUCTS-->