 <div id="{{product.handle}}-quick-look" class="popup mfp-hide">

 	<h2>{{ product.title }}</h2>

	<form action="/cart/add" method="post" id="test">
	    <div id="product-variants">
	       	<select id="product-select" name='id'>
	       		<option disabled="disabled" selected="selected">Pick an Option</option>
	        	{% for variant in product.variants %}
	        		{% assign sku = {{variant.sku | downcase }} %}
	        		{% if variant.available %}
	        			<option data-sku="{{sku}}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
	        		{% else %}
	        			<option data-sku="{{sku}}" disabled="disabled" value="{{ variant.id }}">{{ variant.title }} - Sold Out</option>
	        		{% endif %}
	        	{% endfor %}
	       	</select>
	       	<div id="quick-preview-image">
	       		<img class="main-image" src="{{ product.featured_image | product_img_url: 'large' }}">
	       		<ul id="preload" >
	       		{% for image in product.images %}
	       		{% if image.alt contains 'SFQ' %}
	       		  <li>
	       		     <img style="display: none;" src="{{ image | product_img_url: 'large' }}" alt="" />
	       		  </li>
	       		{% endif %}
	       		{% endfor %}
	       		</ul>
	       	</div>
 		    	
	    </div><!-- product-variants -->
	    <input class="add-to-cart" type="submit" value="Add to cart" id="addtocart" />
	    <div class="quick-look-options">
	    	<a href="../cart">Checkout</a> | <a class="close" href="#">Continue Shopping</a>
	    </div>
	    
	    <a class="quick-cart" href="../cart">
	        <span>You have <span class="quick-cart-count">{{cart.item_count}}</span> <span class="item">item(s)</span> in your cart</span>   
	    </a>
	</form>

 </div>